modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Site (Port 5000)"

[[workflows.workflow]]
name = "Main Site (Port 5000)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40841
externalPort = 3000

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "124246847133-g8gfdgkjfspivd3kgnhfugghci3q1jc2.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_PROJECT_ID = "sheetstogithubapi"
