modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Site (Port 5000)"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backup Site (Port 3000)"

[[workflows.workflow]]
name = "Main Site (Port 5000)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"

[[workflows.workflow]]
name = "Backup Site (Port 3000)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"сайт 2\" && python3 server.py"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39553
externalPort = 3002

[[ports]]
localPort = 40339
externalPort = 3001

[[ports]]
localPort = 46645
externalPort = 3003

[deployment]
deploymentTarget = "static"
publicDir = "."
